{% extends 'base.html' %}

{% block title %}AION | Sobre Nós{% endblock title %}

{% block content %}

<div class="container my-3">
    <h1 class="font-weight-bold">Sobre nós</h1>
    <p>
        Um time de engenheiros da Universidade de São Paulo  (USP), Universidade Estadual de Campinas (Unicamp) e Instituto Tecnológico da Aeronáutica (ITA).
​	</p>
	<p>
		Em 2013 os engenheiros Gustavo Martins e Victor Meireles passaram a fazer parte da gestão executiva do e-commerce Kanui, como CFO (Chief Financial Officer) e Head de BI 
		(Business Intelligence) da empresa, respectivamente.
	</p>
	<p>	 
		Em agosto/2014 a Kanui, que pertencia ao fundo investidor alemão Rocket Internet, foi a primeira startup de moda a atingir breakeven de EBITDA, resultado este auditado 
		pela auditoria Ernst & Young.  Um feito e tanto, considerando que as maiores concorrentes à época, como Netshoes e Dafiti, estavam longe disso.
	</p>
	<p>
		Com o sucesso, em meados de 2015, os investidores uniram o management team da Kanui com o da Dafiti, com o objetivo de rentabilizar a operação da Dafiti. No Grupo Dafiti,
		 Gustavo e Victor lideraram com sucesso as áreas de Planejamento Estratégico e Financeiro, Precificação e BI comercial para América Latina. E os resultados logo começaram
		 a aparecer. No último trimestre de 2016 a operação Brasil, a maior das 4 unidades LatAm da Dafiti, já operou no positivo, gerando lucro. Em 2017 a Dafiti Brasil cresceu 
		 17% em receitas e fechou o ano fiscal com Ebitda positivo, resultado auditado.	Fonte: <a href="
		 https://exame.com/negocios/dafiti-tem-resultado-operacional-positivo-pela-primeira-vez/">https://exame.com/negocios/dafiti-tem-resultado-operacional-positivo-pela-primeira-vez/</a>
	</p>
	<p>
		Em 2019 nasce a Aion. Ano de muito trabalho para o time da empresa, que focou em criar um sistema inteligente de gestão completa de e-commerce, voltado para empresas que
		 queiram estruturar ou potencializar o seu comércio eletrônico.
	</p>
	<p>
		Nos primeiros meses de 2020 os resultados impressionantes já começaram a aparecer. Crescimento exponencial no primeiro cliente sem gerar cashburn (queima de caixa), 8 sites
		 já usando o Aion, dezenas de empresas se interessando pelo serviço e software Aion.
	</p>
	<p> 
		Com a crise gerada pela pandemia do novo coronavírus, estamos vivendo uma nova era. A era da inteligência artificial e automatização. Nossa visão é clara: entregar a nossos
		 clientes um software prático e inteligente que otimize o crescimento e o lucro do negócio deles.
    </p>
</div>
<br><br><br>
<div class="rodape">
	<br><br>
	<p>
		© 2021 Aion Solution
	</p>
	<br><br>
</div>

{% endblock content %}